3-1==1.0.0
anyio==4.8.0
appdirs==1.4.4
arrow==1.3.0
attrs==24.3.0
babel==2.16.0
beautifulsoup4==4.12.3
bibtexparser==2.0.0b8
bio==1.6.2
biopython==1.85
biothings_client==0.4.1
bs4==0.0.2
Cartopy==0.23.0
cdstarcat==1.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
cldfbench==1.14.1
cldfcatalog==1.5.1
cldfviz==1.3.0
cldfzenodo==2.1.2
clldutils==3.24.0
colorama==0.4.6
colorlog==6.9.0
commonnexus==1.9.2
contourpy==1.3.0
csvw==3.1.3
custom-inherit==2.4.1
cycler==0.12.1
docopt==0.6.2
edictor==3.1
et_xmlfile==2.0.0
ete3==3.1.3
exceptiongroup==1.2.2
fonttools==4.55.3
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
gprofiler-official==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
igraph==0.11.8
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.0.0
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
language-tags==1.2.0
latexcodec==3.0.0
lexibase==0.1.0
linglit==1.7.1
lingpy==2.6.13
lxml==5.3.0
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.4
multipledispatch==1.0.0
mygene==3.2.2
nameparser==1.1.3
networkx==3.2.1
newick==1.9.0
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
pybtex==0.24.0
pycdstar==1.1.0
pycldf==1.34.0
pyclts==3.2.0
pyconcepticon==3.0.0
pycountry==24.6.1
pyedictor==1.0.0
pyglottolog==3.14.0
pyigt==2.1.0
pylatexenc==2.10
pylexibank==3.5.0
pylodata==0.2.0
pyparsing==3.2.1
pypng==0.20220715.0
pyproj==3.6.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyshp==2.3.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-frontmatter==1.1.0
python-igraph==0.11.8
python-nexus==2.9.0
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.11.0
rdflib==7.1.1
referencing==0.35.1
regex==2024.11.6
reportlab==4.4.3
requests==2.32.3
rfc3986==1.5.0
rpds-py==0.22.3
scipy==1.13.1
seaborn==0.13.2
segments==2.2.1
shapely==2.0.7
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==1.4.54
tabulate==0.9.0
termcolor==2.5.0
TexSoup==0.3.1
texttable==1.7.0
thefuzz==0.22.1
tomli==2.2.1
toyplot==2.0.0
toytree==2.0.5
tqdm==4.67.1
types-python-dateutil==2.9.0.20250809
typing_extensions==4.12.2
tzdata==2024.2
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.3.0
Whoosh==2.7.4
xlrd==2.0.1
zenodoclient==0.5.1
zipp==3.21.0
